# 파일 하나로 합치기

In [2]:
import pandas as pd
import os

# 엑셀 파일 경로 설정
excel_file_path = '고대PJ_RAW(1).xlsx'  # 파일 경로와 이름을 적절히 변경해주세요

# 엑셀 파일 읽기
xls = pd.ExcelFile(excel_file_path)

sheet_names = xls.sheet_names
sheet_names = sheet_names.remove('스타일 정보')

In [32]:
# 각 시트를 데이터프레임으로 읽어와 리스트에 저장
dfs = []

for sheet in sheet_names:
    df = pd.read_excel(excel_file_path, sheet_name=sheet)
    df = df.drop(0, axis=0).reset_index(drop=True)
    df['Date'] = sheet
    dfs.append(df)

# 모든 데이터프레임을 하나로 합치기
merged_df = pd.concat(dfs, ignore_index=True)

In [33]:
merged_df.columns

Index(['매장코드', '매장명', '스타일코드', '스타일명', '최초입고일', '최종입고일', '최초출고일', '최종출고일',
       '현판가', '예판가', '결판가', '단품코드', '누적매장순수입고량', '누적입고량', '누적출고량', '누적판매량',
       '기간판매량', '잔여재고량', '누적판매율[입고량대비]', '기간판매율[입고량대비]', '기간입고량', '기간출고량',
       'Date'],
      dtype='object')

In [35]:
merged_df.to_csv('파일럿PJ.csv', encoding='utf-8-sig')

In [45]:
code = pd.read_excel('매장코드구분.xlsx')

# 반영 매장만 남기기

In [47]:
valid_code = code[code['반영여부'] == '반영']

In [49]:
valid_code['매장코드']

0      A8LC
1      A8LH
2      A8LJ
3      A8LL
4      A8LM
       ...
250    A9MX
251    A9WN
252    A9ZK
255    AA6H
266    ACKC
Name: 매장코드, Length: 141, dtype: object

In [52]:
filtered_df = merged_df[merged_df['매장코드'].isin(valid_code['매장코드'])]

In [57]:
valid_code['매장코드'].unique()

array(['A8LC', 'A8LH', 'A8LJ', 'A8LL', 'A8LM', 'A8LS', 'A8LY', 'A8M1',
       'A8M5', 'A8MB', 'A8MD', 'A8MH', 'A8MK', 'A8MN', 'A8MP', 'A8MQ',
       'A8MT', 'A8MX', 'A8MY', 'A8N4', 'A8R5', 'A8W8', 'A8ZE', 'A93L',
       'A93N', 'A98U', 'A9B1', 'A9C7', 'A9CR', 'A9DR', 'A9EU', 'A9KH',
       'A9KJ', 'A9WP', 'A9XX', 'A9YQ', 'AAAR', 'AARK', 'AASL', 'AAZN',
       'ABAG', 'ABDG', 'ABMJ', 'ABR5', 'ABR6', 'ABRX', 'ABS5', 'ABSC',
       'ABV9', 'ABW5', 'ABXS', 'AC21', 'AC5Q', 'AC6P', 'AC7P', 'ACAM',
       'ACBZ', 'ACC0', 'ACDR', 'ACDU', 'ACDW', 'ACDZ', 'ACE0', 'ACFH',
       'ACH7', 'ACJG', 'ACKD', 'ACKE', 'ACKH', 'ACP3', 'ACP4', 'ACPT',
       'ACPW', 'ACR8', 'ACRB', 'ACSC', 'ACSD', 'ACSJ', 'ACU0', 'ACVY',
       'ACVZ', 'ACWC', 'ACWR', 'ACZ1', 'ACZ5', 'AD0E', 'AD0M', 'AD0N',
       'AD5B', 'AD6Q', 'AD7A', 'AD7D', 'ADCC', 'ADFR', 'ADGW', 'ADHS',
       'ADJD', 'ADK3', 'ADKD', 'ADKK', 'ADLB', 'ADPC', 'ADQ4', 'ADQ6',
       'ADR2', 'ADRP', 'ADS3', 'ADSM', 'ADUH', 'ADV4', 'ADV5', 'ADVD',
       'ADVL', 'ADW0', 'ADX7', 'ADYJ', 'A8M8', 'A8MJ', 'A8MR', 'A8PR',
       'A8XS', 'A91G', 'A9K2', 'A9P9', 'A9WE', 'AAWU', 'ABDX', 'AC35',
       'ACCP', 'ADGQ', 'ADZB', 'A8LX', 'A8ML', 'A8MU', 'A9AW', 'A9C8',
       'A9MX', 'A9WN', 'A9ZK', 'AA6H', 'ACKC'], dtype=object)

In [58]:
filtered_df['매장코드'].unique()

array(['A8LH', 'A8LJ', 'A8LL', 'A8LM', 'A8LS', 'A8LY', 'A8M1', 'A8M5',
       'A8MB', 'A8MD', 'A8MH', 'A8MK', 'A8MN', 'A8MP', 'A8MQ', 'A8MT',
       'A8MX', 'A8MY', 'A8N4', 'A8R5', 'A8ZE', 'A93L', 'A93N', 'A98U',
       'A9C7', 'A9DR', 'A9EU', 'A9KH', 'A9KJ', 'A9WP', 'A9XX', 'AAAR',
       'AARK', 'AASL', 'AAZN', 'ABAG', 'ABR6', 'ABS5', 'ABV9', 'ABW5',
       'ABXS', 'AC21', 'AC6P', 'AC7P', 'ACAM', 'ACBZ', 'ACDR', 'ACDU',
       'ACDW', 'ACDZ', 'ACE0', 'ACFH', 'ACJG', 'ACKE', 'ACKH', 'ACP3',
       'ACP4', 'ACPW', 'ACR8', 'ACRB', 'ACSC', 'ACU0', 'ACVY', 'ACVZ',
       'ACWC', 'ACWR', 'ACZ1', 'ACZ5', 'AD0E', 'AD0M', 'AD0N', 'AD5B',
       'AD6Q', 'AD7D', 'ADCC', 'ADFR', 'ADGW', 'ADHS', 'ADJD', 'ADK3',
       'ADKD', 'ADKK', 'ADLB', 'ADPC', 'ADQ4', 'ADQ6', 'ADR2', 'ADRP',
       'ADS3', 'ADSM', 'ADUH', 'ADV4', 'ADVD', 'ADVL', 'ADW0', 'ADX7',
       'ADYJ', 'A8LC', 'ADV5'], dtype=object)

In [65]:
filtered_df.to_csv('파일럿PJ_분석매장반영.csv', encoding='utf-8-sig')

In [115]:
style_code = filtered_df['스타일코드'].unique()

In [117]:
style_code

array(['SPKWE11W07', 'SPCKE12W02', 'SPKWE12W01', 'SPTAE11W05',
       'SPTAE11W06', 'SPCKE11W08', 'SPCKE23W02', 'SPTAEA9M01',
       'SPTAE23M05', 'SPCKE11W99', 'SPTAEA9W01', 'SPTAE23M03',
       'SPTAE23M04', 'SPTAE23W03', 'SPTAE23W04', 'SPTAEA9M02',
       'SPKWE12W99', 'SPCKE11W98', 'SPTAE23M07', 'SPKWE23W06',
       'SPLWE23M12', 'SPCKE12W94'], dtype=object)

# 스타일 특징 확인하기

In [126]:
for i in style_code:
    print('-'*50)
    print(i)
    print(filtered_df[filtered_df['스타일코드'] == i]['스타일명'].iloc[0])
    print('최초출고일:', filtered_df[filtered_df['스타일코드'] == i]['최초출고일'].iloc[0])
    print('최초판매일:', filtered_df[filtered_df['스타일코드'] == i]['Date'].iloc[0])

--------------------------------------------------
SPKWE11W07
[소프트얀] 하찌 반집업 니트
최초출고일: 2023-11-17
최초판매일: 231117
--------------------------------------------------
SPCKE12W02
[소프트얀] 라운드넥 케이블 가디건
최초출고일: 2023-11-29
최초판매일: 231129
--------------------------------------------------
SPKWE12W01
[소프트얀] 라운드넥 케이블 풀오버
최초출고일: 2023-11-29
최초판매일: 231129
--------------------------------------------------
SPTAE11W05
[데일리지] 웜 풀밴딩 스트레치 와이드
최초출고일: 2023-11-09
최초판매일: 231206
--------------------------------------------------
SPTAE11W06
[데일리지] 웜 풀밴딩 스트레치 부츠컷
최초출고일: 2023-11-09
최초판매일: 231206
--------------------------------------------------
SPCKE11W08
[소프트얀] 소프트 하찌 집업 가디건
최초출고일: 2023-12-07
최초판매일: 231207
--------------------------------------------------
SPCKE23W02
[소프트얀] 라운드넥 가디건
최초출고일: 2023-12-19
최초판매일: 231219
--------------------------------------------------
SPTAEA9M01
[에센셜] 와이드 슬랙스
최초출고일: 2023-12-11
최초판매일: 231220
--------------------------------------------------
SPTAE23M05
[에센셜] 벨티드 와이드 슬랙스
최초출고일: 2023-11-09
최초판매일: 231220
--------------------------------------------------
SPCKE11W99
[날개사] 가디건
최초출고일: 2023-12-20
최초판매일: 231220
--------------------------------------------------
SPTAEA9W01
[에센셜] 스트레이트 슬랙스
최초출고일: 2023-12-11
최초판매일: 231221
--------------------------------------------------
SPTAE23M03
[에센셜] 크롭 테이퍼드 슬랙스 (-5CM)
최초출고일: 2023-12-11
최초판매일: 231221
--------------------------------------------------
SPTAE23M04
[에센셜] 풀밴딩 테이퍼드 슬랙스
최초출고일: 2023-11-09
최초판매일: 231221
--------------------------------------------------
SPTAE23W03
[에센셜] 롱 와이드 슬랙스
최초출고일: 2023-12-21
최초판매일: 231221
--------------------------------------------------
SPTAE23W04
[에센셜] 크롭 와이드 슬랙스 (-5CM)
최초출고일: 2023-12-11
최초판매일: 231221
--------------------------------------------------
SPTAEA9M02
[에센셜] 롱 테이퍼드 슬랙스
최초출고일: 2023-12-11
최초판매일: 231221
--------------------------------------------------
SPKWE12W99
[날개사] 스웨터
최초출고일: 2024-01-02
최초판매일: 240104
--------------------------------------------------
SPCKE11W98
배색 집업 가디건
최초출고일: 2024-01-05
최초판매일: 240105
--------------------------------------------------
SPTAE23M07
[에센셜] 원턱 와이드 슬랙스
최초출고일: 2024-01-04
최초판매일: 240108
--------------------------------------------------
SPKWE23W06
[소프트얀] 스트라이프 반오픈 니트
최초출고일: 2024-01-09
최초판매일: 240109
--------------------------------------------------
SPLWE23M12
[밀라노조직] 라운드넥 긴팔티
최초출고일: 2024-01-10
최초판매일: 240110
--------------------------------------------------
SPCKE12W94
[날개사] 볼레로 가디건
최초출고일: 2024-01-10
최초판매일: 240110

In [127]:
filtered_df[filtered_df['스타일코드'] == 'SPTAE23W03']

,매장코드,매장명,스타일코드,스타일명,최초입고일,최종입고일,최초출고일,최종출고일,현판가,예판가,...,누적입고량,누적출고량,누적판매량,기간판매량,잔여재고량,누적판매율[입고량대비],기간판매율[입고량대비],기간입고량,기간출고량,Date
37504,A8LH,NC일산,SPTAE23W03,[에센셜] 롱 와이드 슬랙스,2023-11-22,2023-12-05,2023-12-21,2024-01-10,39900,39900,...,3,NaN,NaN,NaN,3,NaN,NaN,3,NaN,231221
37505,A8LH,NC일산,SPTAE23W03,[에센셜] 롱 와이드 슬랙스,2023-11-22,2023-12-05,2023-12-21,2024-01-10,39900,39900,...,2,NaN,NaN,NaN,2,NaN,NaN,2,NaN,231221
37506,A8LH,NC일산,SPTAE23W03,[에센셜] 롱 와이드 슬랙스,2023-11-22,2023-12-05,2023-12-21,2024-01-10,39900,39900,...,2,NaN,NaN,NaN,2,NaN,NaN,2,NaN,231221
37507,A8LH,NC일산,SPTAE23W03,[에센셜] 롱 와이드 슬랙스,2023-11-22,2023-12-05,2023-12-21,2024-01-10,39900,39900,...,2,NaN,NaN,NaN,2,NaN,NaN,2,NaN,231221
37508,A8LH,NC일산,SPTAE23W03,[에센셜] 롱 와이드 슬랙스,2023-11-22,2023-12-05,2023-12-21,2024-01-10,39900,39900,...,2,NaN,NaN,NaN,2,NaN,NaN,2,NaN,231221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325375,ADYJ,의정부민락,SPTAE23W03,[에센셜] 롱 와이드 슬랙스,2023-11-22,2023-12-05,2023-12-21,2024-01-10,39900,39900,...,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,240111
325376,ADYJ,의정부민락,SPTAE23W03,[에센셜] 롱 와이드 슬랙스,2023-11-22,2023-12-05,2023-12-21,2024-01-10,39900,39900,...,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,240111
325377,ADYJ,의정부민락,SPTAE23W03,[에센셜] 롱 와이드 슬랙스,2023-11-22,2023-12-05,2023-12-21,2024-01-10,39900,39900,...,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,240111
325378,ADYJ,의정부민락,SPTAE23W03,[에센셜] 롱 와이드 슬랙스,2023-11-22,2023-12-05,2023-12-21,2024-01-10,39900,39900,...,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,240111
325379,ADYJ,의정부민락,SPTAE23W03,[에센셜] 롱 와이드 슬랙스,2023-11-22,2023-12-05,2023-12-21,2024-01-10,39900,39900,...,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,240111

In [66]:
df = filtered_df

# 결품률 확인

In [108]:
def cal_minus(x):
    minus = len(df[(df['스타일코드'] == x) & (df['잔여재고량'] <= 0)]) / len(df[df['스타일코드'] == x]) * 100
    name = df[df['스타일코드']== x]['스타일명'].unique()
    period = df[df['스타일코드'] == x]['Date'].iloc[0]
    return name, period, minus

In [81]:
style_code = df['스타일코드'].unique()

In [106]:
cal_minus('SPTAE11W05')

(array(['[데일리지] 웜 풀밴딩 스트레치 와이드'], dtype=object), 13.228789706473663, '231206')

In [110]:
for x in style_code:
    print(x, cal_minus(x))

# SPTAEA9W01
# SPTAE23M03
# SPTAE23M04
# SPCKE12W93
# SPKWE11W95
# SPLWE23M12

# [에센셜] 스트레이트 슬랙스
# [에센셜] 크롭 테이퍼드 슬랙스 (-
# [에센셜] 풀밴딩 테이퍼드 슬랙스
# 빅카라 집업 가디건 -> 
# [울블렌드] V넥 카라 케이블니트
# [밀라노조직] 라운드넥 긴팔티

SPKWE11W07 (array(['[소프트얀] 하찌 반집업 니트'], dtype=object), '231117', 3.5529644703552963)
SPCKE12W02 (array(['[소프트얀] 라운드넥 케이블 가디건'], dtype=object), '231129', 0.055096418732782364)
SPKWE12W01 (array(['[소프트얀] 라운드넥 케이블 풀오버'], dtype=object), '231129', 0.0)
SPTAE11W05 (array(['[데일리지] 웜 풀밴딩 스트레치 와이드'], dtype=object), '231206', 13.228789706473663)
SPTAE11W06 (array(['[데일리지] 웜 풀밴딩 스트레치 부츠컷'], dtype=object), '231206', 15.248083904800321)
SPCKE11W08 (array(['[소프트얀] 소프트 하찌 집업 가디건'], dtype=object), '231207', 0.0)
SPCKE23W02 (array(['[소프트얀] 라운드넥 가디건'], dtype=object), '231219', 0.1422699968384445)
SPTAEA9M01 (array(['[에센셜] 와이드 슬랙스'], dtype=object), '231220', 0.6079570853822083)
SPTAE23M05 (array(['[에센셜] 벨티드 와이드 슬랙스'], dtype=object), '231220', 0.731948565776459)
SPCKE11W99 (array(['[날개사] 가디건'], dtype=object), '231220', 0.2911208151382824)
SPTAEA9W01 (array(['[에센셜] 스트레이트 슬랙스'], dtype=object), '231221', 0.026782981328435873)
SPTAE23M03 (array(['[에센셜] 크롭 테이퍼드 슬랙스 (-5CM)'], dtype=object), '231221', 0.09641873278236915)
SPTAE23M04 (array(['[에센셜] 풀밴딩 테이퍼드 슬랙스'], dtype=object), '231221', 0.0)
SPTAE23W03 (array(['[에센셜] 롱 와이드 슬랙스'], dtype=object), '231221', 0.2939509845587193)
SPTAE23W04 (array(['[에센셜] 크롭 와이드 슬랙스 (-5CM)'], dtype=object), '231221', 0.11287789556340792)
SPTAEA9M02 (array(['[에센셜] 롱 테이퍼드 슬랙스'], dtype=object), '231221', 0.42659193523275724)
SPKWE12W99 (array(['[날개사] 스웨터'], dtype=object), '240104', 0.0)
SPCKE11W98 (array(['배색 집업 가디건'], dtype=object), '240105', 0.0)
SPTAE23M07 (array(['[에센셜] 원턱 와이드 슬랙스'], dtype=object), '240108', 0.0)
SPKWE23W06 (array(['[소프트얀] 스트라이프 반오픈 니트'], dtype=object), '240109', 0.0)
SPLWE23M12 (array(['[밀라노조직] 라운드넥 긴팔티'], dtype=object), '240110', 0.0)
SPCKE12W94 (array(['[날개사] 볼레로 가디건'], dtype=object), '240110', 0.0)

In [353]:
len(df[(df['스타일코드']=='SPTAEA9M01') & (df['잔여재고량'] <= 0)]) / len(df[(df['스타일코드']=='SPTAEA9M01')])

0.006079570853822083

In [352]:
len(df[(df['스타일코드']=='SPTAEA9M01')])

22370

In [358]:
len(df[(df['스타일코드']=='SPTAE23M03') & (df['잔여재고량'] <= 0)]) / len(df[(df['스타일코드']=='SPTAE23M03')])

0.0009641873278236915

In [357]:
0.0009387572641931158/2

0.0004693786320965579

In [356]:
len(df[(df['스타일코드']=='SPTAE23M03') & (df['잔여재고량'] <= 0)])

21

In [355]:
len(df[(df['스타일코드']=='SPTAE23M03')])

21780

In [ ]:
# SPTAEA9M01 (array(['[에센셜] 와이드 슬랙스'], dtype=object), '231220', 0.6079570853822083)
# SPTAEA9M02 (array(['[에센셜] 롱 테이퍼드 슬랙스'], dtype=object), '231221', 0.42659193523275724)
# SPTAE23M03 (array(['[에센셜] 크롭 테이퍼드 슬랙스 (-5CM)'], dtype=object), '231221', 0.09641873278236915)
# SPTAE23M04 (array(['[에센셜] 풀밴딩 테이퍼드 슬랙스'], dtype=object), '231221', 0.0)

In [340]:
(0.6079570853822083+0.42659193523275724)/2

0.5172745103074827

In [359]:
round(0.09641873278236915/2, 3)

0.048

In [70]:
len(df[(df['스타일코드'] == 'SPTAE11W05') & (df['잔여재고량'] <= 0)]) / len(df[df['스타일코드'] == 'SPTAE11W05'])

0.13228789706473662

In [71]:
len(df[(df['스타일코드'] == 'SPTAEA9W01') & (df['잔여재고량'] <= 0)]) / len(df[df['스타일코드'] == 'SPTAEA9W01'])

0.0002678298132843587

In [ ]:
'SPTAE23W03', 'SPTAEW04', 'SPTAEA9M01', 'SPTAEA9M02', 'SPTAEA9W01', 'SPTAE23M03', 'SPTAE23M04'

# 매장 편차 확인하기

In [163]:
df = pd.read_csv('파일럿PJ_분석매장반영.csv', index_col=0)

/var/folders/x2/c6gjhmqs6h5bl_d26ctv923h0000gn/T/ipykernel_3332/3811159829.py:1: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('파일럿PJ_분석매장반영.csv', index_col=0)

In [164]:
df['기간판매율[입고량대비]'] = pd.to_numeric(df['기간판매율[입고량대비]'], errors='coerce').astype(float)

In [194]:
df_mean = df.groupby(['매장코드', '매장명', '스타일코드', 'Date'])['기간판매율[입고량대비]'].mean()

In [184]:
code_list = ['SPTAE23W03', 'SPTAE23W04', 'SPTAEA9M01', 'SPTAEA9M02', 'SPTAEA9W01', 'SPTAE23M03', 'SPTAE23M04']

In [197]:
df_mean = df_mean.reset_index()

In [181]:
df_mean['스타일코드'].unique() # 'SPTAEW04'

array(['SPLWE23M12', 'SPTAE11W05', 'SPTAE23M03', 'SPTAE23M04',
       'SPTAEA9W01', 'SPCKE12W02', 'SPCKE23W02', 'SPKWE11W07',
       'SPKWE12W01', 'SPKWE23W06', 'SPTAE23M07', 'SPTAE23W03',
       'SPTAE23W04', 'SPTAEA9M01', 'SPTAEA9M02', 'SPTAE11W06',
       'SPTAE23M05', 'SPCKE11W08', 'SPCKE11W99', 'SPCKE12W94',
       'SPKWE12W99', 'SPCKE11W98'], dtype=object)

In [185]:
df_mean[df_mean['스타일코드'] == 'SPTAE23W04']

       매장코드    매장명       스타일코드    Date  기간판매율[입고량대비]
264    A8LH   NC일산  SPTAE23W04  231221           NaN
265    A8LH   NC일산  SPTAE23W04  231222           NaN
266    A8LH   NC일산  SPTAE23W04  231223           NaN
267    A8LH   NC일산  SPTAE23W04  231224           NaN
268    A8LH   NC일산  SPTAE23W04  231225           NaN
...     ...    ...         ...     ...           ...
33124  ADYJ  의정부민락  SPTAE23W04  240107          50.0
33125  ADYJ  의정부민락  SPTAE23W04  240108           NaN
33126  ADYJ  의정부민락  SPTAE23W04  240109           NaN
33127  ADYJ  의정부민락  SPTAE23W04  240110           NaN
33128  ADYJ  의정부민락  SPTAE23W04  240111           NaN

[1737 rows x 5 columns]

In [365]:
df_mean.columns

Index(['매장코드', '매장명', '스타일코드', 'Week', '기간판매율[입고량대비]'], dtype='object')

In [367]:
df_mean = df_mean[(df_mean['스타일코드'] == 'SPTAE23M03') | (df_mean['스타일코드'] == 'SPTAE23M04')
                  |(df_mean['스타일코드'] == 'SPTAEA9M01') |(df_mean['스타일코드'] == 'SPTAEA9M02')]

In [368]:
df_mean.groupby('스타일코드')['기간판매율[입고량대비]'].std()

스타일코드
SPTAE23M03    15.125740
SPTAE23M04    10.145752
SPTAEA9M01    19.574574
SPTAEA9M02    19.049656
Name: 기간판매율[입고량대비], dtype: float64

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 296346 entries, 0 to 325426
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   매장코드          296346 non-null  object
 1   매장명           296346 non-null  object
 2   스타일코드         296346 non-null  object
 3   스타일명          296346 non-null  object
 4   최초입고일         296346 non-null  object
 5   최종입고일         296346 non-null  object
 6   최초출고일         296346 non-null  object
 7   최종출고일         296346 non-null  object
 8   현판가           296346 non-null  int64
 9   예판가           296346 non-null  int64
 10  결판가           296346 non-null  int64
 11  단품코드          296346 non-null  object
 12  누적매장순수입고량     296335 non-null  float64
 13  누적입고량         296335 non-null  float64
 14  누적출고량         703 non-null     float64
 15  누적판매량         68423 non-null   float64
 16  기간판매량         8511 non-null    float64
 17  잔여재고량         296346 non-null  int64
 18  누적판매율[입고량대비]  68423 non-null   object
 19  기간판매율[입고량대비]  8510 non-null    float64
 20  기간입고량         21521 non-null   float64
 21  기간출고량         95 non-null      float64
 22  Date          296346 non-null  int64
dtypes: float64(8), int64(5), object(10)
memory usage: 54.3+ MB

# Week 별로

In [233]:
import pandas as pd

# Assuming 'Date' is in datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%y%m%d')

# Create a new column 'Week' and initialize it with 0
df['Week'] = 0

# Assign week numbers based on date ranges
df.loc[(df['Date'] >= '2023-12-21') & (df['Date'] <= '2023-12-24'), 'Week'] = 1
df.loc[(df['Date'] >= '2023-12-25') & (df['Date'] <= '2023-12-31'), 'Week'] = 2
df.loc[(df['Date'] >= '2024-01-01') & (df['Date'] <= '2024-01-07'), 'Week'] = 3
df.loc[(df['Date'] >= '2024-01-08') & (df['Date'] <= '2024-01-11'), 'Week'] = 3

In [254]:
df2 = df[(df['Week'] != 0)]

In [255]:
df_mean = df2.groupby(['매장코드', '매장명', '스타일코드', 'Week'])['기간판매율[입고량대비]'].mean()

In [256]:
df_mean = df_mean.reset_index()

In [257]:
df_mean.dropna().head(20)

    매장코드     매장명       스타일코드  Week  기간판매율[입고량대비]
5   A8LC  2001중계  SPTAE23M03     2     16.666667
6   A8LC  2001중계  SPTAE23M03     3     10.096154
7   A8LC  2001중계  SPTAE23M04     1     11.111111
8   A8LC  2001중계  SPTAE23M04     2     33.333333
9   A8LC  2001중계  SPTAE23M04     3     16.666667
12  A8LC  2001중계  SPTAEA9W01     3     50.000000
14  A8LH    NC일산  SPCKE23W02     1     23.333333
15  A8LH    NC일산  SPCKE23W02     2     28.000000
16  A8LH    NC일산  SPCKE23W02     3     26.666667
17  A8LH    NC일산  SPKWE11W07     1     33.333333
18  A8LH    NC일산  SPKWE11W07     2     29.166667
19  A8LH    NC일산  SPKWE11W07     3     24.166667
20  A8LH    NC일산  SPKWE12W01     3     20.000000
25  A8LH    NC일산  SPTAE23M03     3      5.000000
28  A8LH    NC일산  SPTAE23M04     3     11.111111
32  A8LH    NC일산  SPTAE23W03     3     50.000000
35  A8LH    NC일산  SPTAE23W04     3     50.000000
41  A8LH    NC일산  SPTAEA9M02     3     10.190476
45  A8LJ    NC고잔  SPCKE12W02     3     20.000000
46  A8LJ    NC고잔  SPCKE23W02     1     25.000000

In [258]:
df_mean2 = df_mean[df_mean['스타일코드'].isin(code_list)]

In [259]:
df_mean2 = df_mean2.groupby(['스타일코드', 'Week'])['기간판매율[입고량대비]'].std()

In [260]:
df_mean2.mean()

15.00304818034787

In [261]:
df_mean2.groupby('스타일코드').mean()

스타일코드
SPTAE23M03    14.801299
SPTAE23M04    11.193371
SPTAE23W03    14.480619
SPTAE23W04    13.277585
SPTAEA9M01    17.778679
SPTAEA9M02    18.405683
SPTAEA9W01    15.084101
Name: 기간판매율[입고량대비], dtype: float64

In [ ]:
17.778679
18.405683 # PPT
14.801299
11.193371 # PPT

In [262]:
(17.778679+18.405683)/2

18.092181

In [263]:
(14.801299+11.193371)/2

12.997335

In [253]:
df_mean2

스타일코드       Week
SPTAE23M03  1       12.947783
            2       18.819421
SPTAE23M04  1       14.370589
            2       10.322337
SPTAE23W03  1       14.556252
            2       14.460596
SPTAE23W04  1       14.433757
            2       13.886286
SPTAEA9M01  1       20.059000
            2       20.023093
SPTAEA9M02  1       21.618981
            2       20.233736
SPTAEA9W01  1       13.793402
            2       17.340500
Name: 기간판매율[입고량대비], dtype: float64

In [270]:
pd.set_option('display.max_columns', None)

In [266]:
len(df[df['스타일코드'] == 'SPTAEA9M02']['매장명'].unique())

98

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (452831600.py, line 1)

In [268]:
len(df[df['스타일코드'] == 'SPTAE23M04']['매장명'].unique())

99

In [218]:
df_mean['스타일코드'].unique()

array(['SPLWE23M12', 'SPTAE11W05', 'SPTAE23M03', 'SPTAE23M04',
       'SPTAEA9W01', 'SPCKE12W02', 'SPCKE23W02', 'SPKWE11W07',
       'SPKWE12W01', 'SPKWE23W06', 'SPTAE23M07', 'SPTAE23W03',
       'SPTAE23W04', 'SPTAEA9M01', 'SPTAEA9M02', 'SPTAE11W06',
       'SPTAE23M05', 'SPCKE11W08', 'SPCKE11W99', 'SPCKE12W94',
       'SPKWE12W99', 'SPCKE11W98'], dtype=object)

In [186]:
df_mean2 = df_mean[df_mean['스타일코드'].isin(code_list)]

In [193]:
df_mean2.groupby(['스타일코드', 'Date'])['기간판매율[입고량대비]'].std().to_csv('기간판매율 편차.csv', encoding='utf-8-sig')

In [198]:
df_mean.columns

Index(['매장코드', '매장명', '스타일코드', 'Date', '기간판매율[입고량대비]'], dtype='object')

In [199]:
df_mean.groupby(['스타일코드', 'Date'])['기간판매율[입고량대비]'].std()

스타일코드       Date
SPCKE11W08  231207          NaN
            231208     7.477355
            231209    11.662202
            231210     6.934735
            231211     4.695595
                        ...
SPTAEA9W01  240107    15.167444
            240108     6.865156
            240109    17.311710
            240110    16.973333
            240111    25.554853
Name: 기간판매율[입고량대비], Length: 505, dtype: float64

In [200]:
df_mean.groupby(['스타일코드'])['기간판매율[입고량대비]'].mean()

스타일코드
SPCKE11W08    12.397303
SPCKE11W98     7.754630
SPCKE11W99    13.642740
SPCKE12W02    13.891826
SPCKE12W94     7.380952
SPCKE23W02    20.437349
SPKWE11W07    20.272718
SPKWE12W01    17.211997
SPKWE12W99    10.189618
SPKWE23W06    19.055556
SPLWE23M12    20.166667
SPTAE11W05    21.809050
SPTAE11W06    24.014705
SPTAE23M03    15.280669
SPTAE23M04    15.123121
SPTAE23M05    26.430976
SPTAE23M07    16.966891
SPTAE23W03    36.742424
SPTAE23W04    37.717391
SPTAEA9M01    26.055089
SPTAEA9M02    25.210933
SPTAEA9W01    19.056576
Name: 기간판매율[입고량대비], dtype: float64

In [201]:
df_mean['기간판매율[입고량대비]'].mean()

20.35488238047332

In [187]:
df_mean2['스타일코드'].unique()
# ['SPTAE23W03', ('SPTAEW04'), 'SPTAEA9M01', 'SPTAEA9M02', 'SPTAEA9W01', 'SPTAE23M03', 'SPTAE23M04']

array(['SPTAE23M03', 'SPTAE23M04', 'SPTAEA9W01', 'SPTAE23W03',
       'SPTAE23W04', 'SPTAEA9M01', 'SPTAEA9M02'], dtype=object)

In [162]:
df.groupby(['매장코드', '매장명', '스타일코드', 'Date'])['기간판매율[입고량대비]'].mean()

매장코드  매장명     스타일코드       Date
A8LC  2001중계  SPLWE23M12  240110   NaN
                          240111   NaN
              SPTAE11W05  231219   NaN
                          231220   NaN
                          231221   NaN
                                    ..
ADYJ  의정부민락   SPTAEA9W01  240107   NaN
                          240108   NaN
                          240109   NaN
                          240110   NaN
                          240111   NaN
Name: 기간판매율[입고량대비], Length: 33196, dtype: float64

In [156]:
for i in code_list:
    df_mean[df_mean['스타일코드'] == i]['기간판매율[입고량대비]']

매장코드  매장명     스타일코드       Date
A8LC  2001중계  SPLWE23M12  240110   NaN
                          240111   NaN
              SPTAE11W05  231219   NaN
                          231220   NaN
                          231221   NaN
                                    ..
ADYJ  의정부민락   SPTAEA9W01  240107   NaN
                          240108   NaN
                          240109   NaN
                          240110   NaN
                          240111   NaN
Name: 기간판매율[입고량대비], Length: 33196, dtype: float64

# 소진율 편차 그래프 제작

In [404]:
df = pd.read_csv('파일럿PJ_분석매장반영_2차.csv', encoding='utf-8-sig')

/var/folders/x2/c6gjhmqs6h5bl_d26ctv923h0000gn/T/ipykernel_3332/2616971161.py:1: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('파일럿PJ_분석매장반영_2차.csv', encoding='utf-8-sig')

In [403]:
len(df[(df['스타일코드'] == 'SPTAEA9M01')&(df['Date'] == '2024-01-11')]['매장명'].unique())

98

In [279]:
len(df[(df['스타일코드'] == 'SPTAE23M04')&(df['Date'] == '2024-01-11')]['매장명'].unique())

99

In [280]:
df.columns

Index(['매장코드', '매장명', '스타일코드', '스타일명', '최초입고일', '최종입고일', '최초출고일', '최종출고일',
       '현판가', '예판가', '결판가', '단품코드', '누적매장순수입고량', '누적입고량', '누적출고량', '누적판매량',
       '기간판매량', '잔여재고량', '누적판매율[입고량대비]', '기간판매율[입고량대비]', '기간입고량', '기간출고량',
       'Date', 'Week'],
      dtype='object')

In [405]:
df['Date'] = pd.to_datetime(df['Date'], format='%y%m%d')

In [406]:
df2 = df.dropna(subset='누적판매율[입고량대비]')

In [407]:
len(df[(df['스타일코드'] == 'SPTAEA9M01')&(df['Date'] == '2024-01-19')]['매장명'].unique())

98

In [408]:
len(df[(df['스타일코드'] == 'SPTAE23M04')&(df['Date'] == '2024-01-19')]['매장명'].unique())

99

In [409]:
df_m4 = df2[(df2['스타일코드'] == 'SPTAE23M04')&(df2['Date'] == '2024-01-20')].dropna(subset='누적판매율[입고량대비]')

In [410]:
df_m2 = df2[(df2['스타일코드'] == 'SPTAEA9M01')&(df2['Date'] == '2024-01-20')].dropna(subset='누적판매율[입고량대비]')

In [411]:
df_m4.columns

Index(['Unnamed: 0', '매장코드', '매장명', '스타일코드', '스타일명', '최초입고일', '최종입고일', '최초출고일',
       '최종출고일', '현판가', '예판가', '결판가', '단품코드', '누적매장순수입고량', '누적입고량', '누적출고량',
       '누적판매량', '기간판매량', '잔여재고량', '누적판매율[입고량대비]', '기간판매율[입고량대비]', '기간입고량',
       '기간출고량', 'Date'],
      dtype='object')

In [412]:
dropna = pd.concat([df_m4, df_m2], axis=0)
dropna.to_csv('dropna_소진율그래프_3차.csv', encoding='utf-8-sig')

In [413]:
pd.merge(df_m4[['매장코드', '매장명', '스타일코드', '누적판매율[입고량대비]', 'Date']], 
         df_m2[['매장코드', '매장명', '스타일코드', '누적판매율[입고량대비]', 'Date']],
         on=['매장코드', '매장명'])

,매장코드,매장명,스타일코드_x,누적판매율[입고량대비]_x,Date_x,스타일코드_y,누적판매율[입고량대비]_y,Date_y
0,A8LJ,NC고잔,SPTAE23M04,7.692308,2024-01-20,SPTAEA9M01,20.0,2024-01-20
1,A8LJ,NC고잔,SPTAE23M04,7.692308,2024-01-20,SPTAEA9M01,22.222222,2024-01-20
2,A8LJ,NC고잔,SPTAE23M04,7.692308,2024-01-20,SPTAEA9M01,22.222222,2024-01-20
3,A8LJ,NC고잔,SPTAE23M04,7.692308,2024-01-20,SPTAEA9M01,16.666667,2024-01-20
4,A8LJ,NC고잔,SPTAE23M04,4.545455,2024-01-20,SPTAEA9M01,20.0,2024-01-20
...,...,...,...,...,...,...,...,...
901,ADVD,NC평택,SPTAE23M04,14.285714,2024-01-20,SPTAEA9M01,0.0,2024-01-20
902,ADVD,NC평택,SPTAE23M04,25.0,2024-01-20,SPTAEA9M01,0.0,2024-01-20
903,ADVD,NC평택,SPTAE23M04,25.0,2024-01-20,SPTAEA9M01,11.111111,2024-01-20
904,ADVD,NC평택,SPTAE23M04,25.0,2024-01-20,SPTAEA9M01,0.0,2024-01-20
905,ADVD,NC평택,SPTAE23M04,25.0,2024-01-20,SPTAEA9M01,0.0,2024-01-20

In [414]:
df_m4_2 = df_m4[['매장코드', '매장명', '누적판매율[입고량대비]']].groupby(['매장코드', '매장명']).mean()
df_m4_3 = df_m4_2.reset_index()
df_m4_3.columns = ['매장코드', '매장명', '누적판매율_m4']

In [417]:
#df_m2 = df_m2[['매장코드', '매장명', '누적판매율[입고량대비]']].groupby(['매장코드', '매장명']).mean()
#df_m2 = df_m2.reset_index()
df_m2.columns = ['매장코드', '매장명', '누적판매율_m1']

In [418]:
len(df_m4_3)

71

In [419]:
store_list = df_m4_3['매장코드'].unique()

In [420]:
len(store_list)

71

In [421]:
df_m2[df_m2.isin(store_list).any(axis=1)]

    매장코드        매장명   누적판매율_m1
0   A8LJ       NC고잔  20.277778
1   A8LL       NC덕천  14.285714
2   A8LM       NC송파       25.0
3   A8LS       NC불광  14.634921
4   A8LY     2001천호  28.134921
..   ...        ...        ...
82  ADS3     스타시티건대       20.0
83  ADUH  (NSC)경기광주  16.666667
84  ADV4       NC평촌  22.222222
85  ADV5       NC야탑  77.777778
86  ADVD       NC평택   2.777778

[69 rows x 3 columns]

In [422]:
df_m2_2 = df_m2[df_m2.isin(store_list).any(axis=1)]
df_m2_2.reset_index(inplace=True, drop=True)
store_list2 = df_m2_2['매장코드'].unique()

In [423]:
df_m4_4 = df_m4_3[df_m4_3.isin(store_list2).any(axis=1)]
df_m4_4.reset_index(inplace=True, drop=True)

In [424]:
len(df_m4_4)

69

In [425]:
len(df_m2_2)

69

In [426]:
df_m4_4['스타일코드'] = 'm4'
df_m2_2['스타일코드'] = 'm1'

/var/folders/x2/c6gjhmqs6h5bl_d26ctv923h0000gn/T/ipykernel_3332/107273480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m4_4['스타일코드'] = 'm4'
/var/folders/x2/c6gjhmqs6h5bl_d26ctv923h0000gn/T/ipykernel_3332/107273480.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m2_2['스타일코드'] = 'm1'

In [427]:
df_m4_4.columns = ['매장코드', '매장명', '누적판매율', '스타일코드']
df_m2_2.columns = ['매장코드', '매장명', '누적판매율', '스타일코드']

In [428]:
pd.concat([df_m4_4, df_m2_2]).to_csv('개수맞춤_소진율그래프_최종2차.csv', encoding='utf-8-sig')

In [431]:
df.columns

Index(['Unnamed: 0', '매장코드', '매장명', '스타일코드', '스타일명', '최초입고일', '최종입고일', '최초출고일',
       '최종출고일', '현판가', '예판가', '결판가', '단품코드', '누적매장순수입고량', '누적입고량', '누적출고량',
       '누적판매량', '기간판매량', '잔여재고량', '누적판매율[입고량대비]', '기간판매율[입고량대비]', '기간입고량',
       '기간출고량', 'Date'],
      dtype='object')

In [434]:
df[df['Date']=='2024-01-20'].groupby('스타일코드')['누적판매율[입고량대비]'].std()

스타일코드
SPCKE11W08    14.042873
SPCKE11W98     9.692821
SPCKE11W99    15.192124
SPCKE12W02    11.600206
SPCKE12W03     9.881484
SPCKE12W93    11.295158
SPCKE12W94     9.501938
SPCKE23W02    12.200722
SPKWE11W07    15.138541
SPKWE11W95    28.830833
SPKWE12W01    12.862054
SPKWE12W99    10.337965
SPKWE23W06    10.162527
SPLWE23M12    15.563461
SPTAE11W05    26.774798
SPTAE11W06    26.207298
SPTAE23M03    13.611549
SPTAE23M04     9.807177
SPTAE23M05    23.085415
SPTAE23M07    19.591814
SPTAE23W03    19.464515
SPTAE23W04    19.671571
SPTAEA9M01    11.413124
SPTAEA9M02    14.795808
SPTAEA9W01    12.889600
Name: 누적판매율[입고량대비], dtype: float64

In [429]:
sojin = pd.concat([df_m4_4, df_m2_2])
sojin.groupby('스타일코드')['누적판매율'].std()

스타일코드
m1    8.864605
m4    8.046023
Name: 누적판매율, dtype: float64

In [306]:
df_merge = pd.merge(df_m4_3, df_m2, on=['매장코드', '매장명'])
df_merge.to_csv('매장개수맞춤_소진율그래프_.csv', encoding='utf-8-sig')