In [1]:
import pandas as pd
df = pd.read_csv('파일럿PJ_분석매장반영.csv', index_col=0)

/var/folders/x2/c6gjhmqs6h5bl_d26ctv923h0000gn/T/ipykernel_62880/345189607.py:2: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('파일럿PJ_분석매장반영.csv', index_col=0)

## 실수형으로 변환

In [2]:
df['기간판매율[입고량대비]'] = pd.to_numeric(df['기간판매율[입고량대비]'], errors='coerce').astype(float)

In [ ]:
df_mean = df.groupby(['매장코드', '매장명', '스타일코드', 'Date'])['기간판매율[입고량대비]'].mean()

## 분석대상 스타일만 남기기

In [ ]:
code_list = ['SPTAE23W03', 'SPTAE23W04', 'SPTAEA9M01', 'SPTAEA9M02', 'SPTAEA9W01', 'SPTAE23M03', 'SPTAE23M04']

In [ ]:
df_mean = df_mean.reset_index()

In [ ]:
df_mean2 = df_mean[df_mean['스타일코드'].isin(code_list)]

In [ ]:
df_mean['스타일코드'].unique() # 'SPTAEW04'

array(['SPLWE23M12', 'SPTAE11W05', 'SPTAE23M03', 'SPTAE23M04',
       'SPTAEA9W01', 'SPCKE12W02', 'SPCKE23W02', 'SPKWE11W07',
       'SPKWE12W01', 'SPKWE23W06', 'SPTAE23M07', 'SPTAE23W03',
       'SPTAE23W04', 'SPTAEA9M01', 'SPTAEA9M02', 'SPTAE11W06',
       'SPTAE23M05', 'SPCKE11W08', 'SPCKE11W99', 'SPCKE12W94',
       'SPKWE12W99', 'SPCKE11W98'], dtype=object)

In [ ]:
df_mean[df_mean['스타일코드'] == 'SPTAE23W04']

       매장코드    매장명       스타일코드    Date  기간판매율[입고량대비]
264    A8LH   NC일산  SPTAE23W04  231221           NaN
265    A8LH   NC일산  SPTAE23W04  231222           NaN
266    A8LH   NC일산  SPTAE23W04  231223           NaN
267    A8LH   NC일산  SPTAE23W04  231224           NaN
268    A8LH   NC일산  SPTAE23W04  231225           NaN
...     ...    ...         ...     ...           ...
33124  ADYJ  의정부민락  SPTAE23W04  240107          50.0
33125  ADYJ  의정부민락  SPTAE23W04  240108           NaN
33126  ADYJ  의정부민락  SPTAE23W04  240109           NaN
33127  ADYJ  의정부민락  SPTAE23W04  240110           NaN
33128  ADYJ  의정부민락  SPTAE23W04  240111           NaN

[1737 rows x 5 columns]

# Week 별로

In [ ]:
import pandas as pd

# Assuming 'Date' is in datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%y%m%d')

# Create a new column 'Week' and initialize it with 0
df['Week'] = 0

# Assign week numbers based on date ranges
df.loc[(df['Date'] >= '2023-12-21') & (df['Date'] <= '2023-12-24'), 'Week'] = 1
df.loc[(df['Date'] >= '2023-12-25') & (df['Date'] <= '2023-12-31'), 'Week'] = 2
df.loc[(df['Date'] >= '2024-01-01') & (df['Date'] <= '2024-01-07'), 'Week'] = 3
df.loc[(df['Date'] >= '2024-01-08') & (df['Date'] <= '2024-01-11'), 'Week'] = 3

In [ ]:
df2 = df[(df['Week'] != 0)]

In [ ]:
df_mean = df2.groupby(['매장코드', '매장명', '스타일코드', 'Week'])['기간판매율[입고량대비]'].mean()

In [ ]:
df_mean = df_mean.reset_index()

In [ ]:
df_mean.dropna().head(20)

    매장코드     매장명       스타일코드  Week  기간판매율[입고량대비]
5   A8LC  2001중계  SPTAE23M03     2     16.666667
6   A8LC  2001중계  SPTAE23M03     3     10.096154
7   A8LC  2001중계  SPTAE23M04     1     11.111111
8   A8LC  2001중계  SPTAE23M04     2     33.333333
9   A8LC  2001중계  SPTAE23M04     3     16.666667
12  A8LC  2001중계  SPTAEA9W01     3     50.000000
14  A8LH    NC일산  SPCKE23W02     1     23.333333
15  A8LH    NC일산  SPCKE23W02     2     28.000000
16  A8LH    NC일산  SPCKE23W02     3     26.666667
17  A8LH    NC일산  SPKWE11W07     1     33.333333
18  A8LH    NC일산  SPKWE11W07     2     29.166667
19  A8LH    NC일산  SPKWE11W07     3     24.166667
20  A8LH    NC일산  SPKWE12W01     3     20.000000
25  A8LH    NC일산  SPTAE23M03     3      5.000000
28  A8LH    NC일산  SPTAE23M04     3     11.111111
32  A8LH    NC일산  SPTAE23W03     3     50.000000
35  A8LH    NC일산  SPTAE23W04     3     50.000000
41  A8LH    NC일산  SPTAEA9M02     3     10.190476
45  A8LJ    NC고잔  SPCKE12W02     3     20.000000
46  A8LJ    NC고잔  SPCKE23W02     1     25.000000

In [ ]:
df_mean2 = df_mean[df_mean['스타일코드'].isin(code_list)]

In [ ]:
df_mean2 = df_mean2.groupby(['스타일코드', 'Week'])['기간판매율[입고량대비]'].std()

In [ ]:
df_mean2.mean()

15.00304818034787

In [ ]:
df_mean2.groupby('스타일코드').mean()

스타일코드
SPTAE23M03    14.801299
SPTAE23M04    11.193371
SPTAE23W03    14.480619
SPTAE23W04    13.277585
SPTAEA9M01    17.778679
SPTAEA9M02    18.405683
SPTAEA9W01    15.084101
Name: 기간판매율[입고량대비], dtype: float64

In [ ]:
df_mean2

스타일코드       Week
SPTAE23M03  1       12.947783
            2       18.819421
SPTAE23M04  1       14.370589
            2       10.322337
SPTAE23W03  1       14.556252
            2       14.460596
SPTAE23W04  1       14.433757
            2       13.886286
SPTAEA9M01  1       20.059000
            2       20.023093
SPTAEA9M02  1       21.618981
            2       20.233736
SPTAEA9W01  1       13.793402
            2       17.340500
Name: 기간판매율[입고량대비], dtype: float64

# 일별 편차 확인

In [ ]:
df_mean['스타일코드'].unique()

array(['SPLWE23M12', 'SPTAE11W05', 'SPTAE23M03', 'SPTAE23M04',
       'SPTAEA9W01', 'SPCKE12W02', 'SPCKE23W02', 'SPKWE11W07',
       'SPKWE12W01', 'SPKWE23W06', 'SPTAE23M07', 'SPTAE23W03',
       'SPTAE23W04', 'SPTAEA9M01', 'SPTAEA9M02', 'SPTAE11W06',
       'SPTAE23M05', 'SPCKE11W08', 'SPCKE11W99', 'SPCKE12W94',
       'SPKWE12W99', 'SPCKE11W98'], dtype=object)

In [ ]:
df_mean2 = df_mean[df_mean['스타일코드'].isin(code_list)]

In [ ]:
df_mean2.groupby(['스타일코드', 'Date'])['기간판매율[입고량대비]'].std().to_csv('기간판매율 편차.csv', encoding='utf-8-sig')

In [ ]:
df_mean.columns

Index(['매장코드', '매장명', '스타일코드', 'Date', '기간판매율[입고량대비]'], dtype='object')

In [ ]:
df_mean.groupby(['스타일코드', 'Date'])['기간판매율[입고량대비]'].std()

스타일코드       Date
SPCKE11W08  231207          NaN
            231208     7.477355
            231209    11.662202
            231210     6.934735
            231211     4.695595
                        ...
SPTAEA9W01  240107    15.167444
            240108     6.865156
            240109    17.311710
            240110    16.973333
            240111    25.554853
Name: 기간판매율[입고량대비], Length: 505, dtype: float64

In [ ]:
df_mean.groupby(['스타일코드'])['기간판매율[입고량대비]'].mean()

스타일코드
SPCKE11W08    12.397303
SPCKE11W98     7.754630
SPCKE11W99    13.642740
SPCKE12W02    13.891826
SPCKE12W94     7.380952
SPCKE23W02    20.437349
SPKWE11W07    20.272718
SPKWE12W01    17.211997
SPKWE12W99    10.189618
SPKWE23W06    19.055556
SPLWE23M12    20.166667
SPTAE11W05    21.809050
SPTAE11W06    24.014705
SPTAE23M03    15.280669
SPTAE23M04    15.123121
SPTAE23M05    26.430976
SPTAE23M07    16.966891
SPTAE23W03    36.742424
SPTAE23W04    37.717391
SPTAEA9M01    26.055089
SPTAEA9M02    25.210933
SPTAEA9W01    19.056576
Name: 기간판매율[입고량대비], dtype: float64

In [ ]:
df_mean['기간판매율[입고량대비]'].mean()

20.35488238047332

In [ ]:
df_mean2['스타일코드'].unique()
# ['SPTAE23W03', ('SPTAEW04'), 'SPTAEA9M01', 'SPTAEA9M02', 'SPTAEA9W01', 'SPTAE23M03', 'SPTAE23M04']

array(['SPTAE23M03', 'SPTAE23M04', 'SPTAEA9W01', 'SPTAE23W03',
       'SPTAE23W04', 'SPTAEA9M01', 'SPTAEA9M02'], dtype=object)

In [ ]:
df.groupby(['매장코드', '매장명', '스타일코드', 'Date'])['기간판매율[입고량대비]'].mean()

매장코드  매장명     스타일코드       Date
A8LC  2001중계  SPLWE23M12  240110   NaN
                          240111   NaN
              SPTAE11W05  231219   NaN
                          231220   NaN
                          231221   NaN
                                    ..
ADYJ  의정부민락   SPTAEA9W01  240107   NaN
                          240108   NaN
                          240109   NaN
                          240110   NaN
                          240111   NaN
Name: 기간판매율[입고량대비], Length: 33196, dtype: float64

In [ ]:
for i in code_list:
    df_mean[df_mean['스타일코드'] == i]['기간판매율[입고량대비]']

매장코드  매장명     스타일코드       Date
A8LC  2001중계  SPLWE23M12  240110   NaN
                          240111   NaN
              SPTAE11W05  231219   NaN
                          231220   NaN
                          231221   NaN
                                    ..
ADYJ  의정부민락   SPTAEA9W01  240107   NaN
                          240108   NaN
                          240109   NaN
                          240110   NaN
                          240111   NaN
Name: 기간판매율[입고량대비], Length: 33196, dtype: float64